.mainhead{
    border: 1px solid rgb(253, 251, 251);  
    display: grid;
    grid-template-columns: auto auto ; 
}
.header h2 {
    text-align: center;
}
.header h4{
    color: rgb(156, 159, 162);
    text-align: center;
}
.header p{
    text-align: center;
}
.corner {
    line-height: 25%;
    font-size: xx-small;
    position: relative;
    top: 20px;
    left: 10px; 
}
.corner p{
    color:rgb(139, 145, 151); 
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto; 
}
.box1{
    
    text-align: center;
}

.smallbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallbox  h3{
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    background-color: rgb(88, 88, 94);
    width: 1.5em;
    height: 1.5em;
    padding: 3px;
    border-radius: 10px
}
.box2{ 
    border-radius: 10px;
    justify-content:center;
    text-align: center;
    background-color:rgb(58, 58, 145);
    border: 1px solid white;
    height: 12em;
    border-width: 0em 6em;

}
.box2 p{
    font-size: small;
}
@media screen and (min-width: 200px) and (max-width: 767px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    
}